name: Update Event Status and Check Changes

on:
  schedule:
    # Run once a day hours
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
      - run: npm ci
      - run: node sync-events.js status-and-changes
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          TIXR_GROUP_ID: ${{ secrets.TIXR_GROUP_ID }}
          TIXR_CPK: ${{ secrets.TIXR_CPK }}
          TIXR_SECRET_KEY: ${{ secrets.TIXR_SECRET_KEY }}
